body {
	background: #FFF8D6;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    width: 25%;
    margin-left:auto; 
    margin-right:auto;
}

th, td {
    padding: 15px;
}